{{#each erross}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}

<div class="card">
    <div class="card-body">
        <h4>nova postagem:</h4>
        <form action="/postagem/nova" method="post">
            <label for="titulo">titulo:</label>
            <input type="text" name="titulo" class="form-control" required>
            <label for="slug">slug:</label>
            <input type="text" name="slug" class="form-control" required>
            <label for="descriçao">descrição:</label>
            <input type="text" name="descriçao" class="form-control" required>
            <label for="conteudo">conteúdo:</label>
            <textarea name="conteudo" class="form-control"></textarea required>
            <label for="categoria">categoria:</label>
            <select name="categoria" class="custom-select" > 
            {{#each categoria}}
                 <option value="{{_id}}">{{nome}}</option>
            {{else}}
                 <option value="0">nenhuma categoria registrada</option>
            {{/each}}
            
            </select>
          
            <button class="btn btn-success mt-2" type="submit">postar</button>
    
         </form>
    </div>
</div>